@import url("https://use.typekit.net/ovi0acq.css");
#root{
  margin:45px;
}
.side-nav svg{
  width: clamp(40px,1vw,75px);
  top: 5px;
  position:relative;
}
.side-nav li{
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
  font-size:clamp(30px,1vw,45px);
}
.side-nav li:first-child{
  margin-right:45px;
}
.side-nav{
  text-align: center;
  list-style: none;
  padding-left:0;
  position: fixed;
  top:20px;
  right:45px;
  margin-top:0;
  padding:15px;
  background: transparent;
  z-index: 10;
}
a:link, a:focus, a:visited{
  color:inherit;
}
.notion{
  font-family: louvette-text, serif;
  font-size:clamp(35px,1vw,45px);
}
.notion-nav-breadcrumbs{
  display: none;  
}
.notion figure{
  margin:0;
}
.notion-asset-wrapper > div{
  padding-bottom:0 !important;
}
.notion-image-caption{
  font-size:16px;
  height:0;
  overflow: hidden;
}
.notion-title{
  font-size:clamp(75px,1vw,105px);
  background: white;
  z-index: 9;
  font-style: italic;
  border-bottom:2px solid;
  width: 100vw;
  left:0;
  top:0;
  position: fixed;
  padding:0 45px;
  padding-top:15px;
}
.notion-page{
  margin-top:calc(132px + 45px);
}
.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:clamp(35px,1vw,45px);
  color: white;
}

.App-link {
  color: #61dafb;
}
.notion figure, .notion img{
  max-width: 100%;
}
@media(max-width:1020px){
   .side-nav svg{
    top:1px;
    width: clamp(20px,1vw,75px);
  }
   .side-nav li:first-child{
    margin-right:15px;
   }
  .side-nav li{
/*    display: block;*/
    text-align: left;
    font-size:clamp(20px,1vw,45px);
  }
  .notion-title{
    padding:8px 20px;
    font-size:clamp(35px,1vw,45px);
  }
  .notion-page{
    margin-top:calc(132px + 0px);
  }
  .side-nav{
    text-align: left;
    left:0;
    right:auto;
    top:40px;
    border-bottom:2px solid;
    background: white;
    width:100vw;
  }
  .notion{
    font-size:clamp(24px,1vw,45px);
  }
}
